.container {
    display: grid;
    grid-template-areas: 
    "header header"
    "profile main"
    "sidebar main"
    "sidebar komen"
    "kaki kaki";
    gap: 10px;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 2fr 4fr 2fr 1fr;
}

.container div {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    grid-area: header;
    background-color: antiquewhite;
}

.profile {
    grid-area: profile;
    background-color: bisque;
}

.sidebar {
    grid-area: sidebar;
    background-color: red;
}

.main {
    grid-area: main;
    background-color: green;
}

.comment {
    grid-area: komen;
    background-color: burlywood;
}

.footer {
    grid-area: kaki;
    background-color: blue;
}