.container-grid {   
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    column-gap: 20px;
    row-gap: 10px;
    margin-bottom: 20px;
}

.bg-wheat {
    background-color: wheat;
}

.bg-red {
    background-color: red;
}

.bg-green {
    background-color: green;    
}


.container-grid-2 {
    display: grid;
    grid-template-areas: "utama kedua" ;
}